<%#
  Parameters:
  - tooltip_text (required): The text to display in the tooltip
  - tooltip_position (optional): Tooltip position class (default: "tooltip-right")
  - icon_classes (optional): Additional CSS classes for the icon (default: "stroke-info shrink-0 w-5 h-5")
%>

<%
  tooltip_position = local_assigns[:tooltip_position] || "tooltip-right"
  icon_classes = local_assigns[:icon_classes] || "stroke-info shrink-0 w-5 h-5"
%>

<div class="tooltip <%= tooltip_position %>" data-tip="<%= tooltip_text %>">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="<%= icon_classes %>">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
</div>
