<li>
  <details class="dropdown dropdown-end">
    <summary class="font-medium text-neutral-content">
      <div class="avatar avatar-placeholder">
        <div class="bg-base-300 text-base-content w-8 rounded-full">
          <span class="text-xs font-semibold"><%= current_user.username.first.upcase %></span>
        </div>
      </div>

      <%= I18n.t("views.menu.authenticated.greeting", username: current_user.username) %>
    </summary>

    <ul class="dropdown-content menu bg-base-200 rounded-box text-accent-content z-[1] py-1 px-2 shadow-lg min-w-52 text-sm">
      <%= render "layouts/menu/authenticated_menu_items" %>
    </ul>
  </details>
</li>
