<li>
  <%= link_to I18n.t("views.menu.common.map"), root_path, class: "font-medium" %>
</li>
<li>
  <%= link_to I18n.t("views.menu.common.directory"), directory_path, class: "font-medium" %>
</li>
<li>
  <%= link_to I18n.t("views.menu.common.contribute"), new_place_path, class: "font-medium" %>
</li>
<li>
  <%= link_to I18n.t("views.menu.common.about"), about_path, class: "font-medium" %>
</li>

