<% content_for :title, I18n.t("views.pages.about.title") %>

<div class="w-full max-w-2xl">
  <h1 class="text-5xl font-semibold text-primary mb-6">
    <%= I18n.t("views.pages.about.title") %>
  </h1>

  <% repository_link = link_to("Codeberg", "https://codeberg.org/zrod/donating.io", target: "_blank", class: "link link-primary") %>
  <% I18n.t("views.pages.about.content", repository_link:).each do |paragraph| %>
    <p class="text-lg text-base-content mb-6">
      <%= paragraph.html_safe %>
    </p>
  <% end %>
</div>
