<div
  data-controller="map"
  data-map-lat-value="<%= lat %>"
  data-map-lng-value="<%= lng %>"
  data-map-protomaps-key-value="<%= ENV['PROTOMAPS_KEY'] %>"
  class="absolute inset-0"
  style="width: 100%; height: 100%; border-radius: 0.5rem;"
></div>
