<li>
    <details>
        <summary class="font-medium text-neutral-content">
            <%= current_user.username %>
        </summary>
        <ul class="bg-base-100 rounded-t-none p-2">
            <li><%= link_to "Profile", "#", class: "font-medium" %></li>
            <li><%= link_to "Settings", "#", class: "font-medium" %></li>
            <li><%= link_to "Logout", session_path, method: :delete, class: "font-medium" %></li>
        </ul>
    </details>
</li>
