<% if flash.any? %>
  <div class="mb-6">
    <% flash.each do |type, message| %>
      <%
        alert_type = case type.to_s
          when "notice" then "success"
          when "alert", "error" then "error"
          when "warning" then "warning"
          else "info"
        end
      %>
      <div class="alert alert-outline alert-soft alert-<%= alert_type %> mb-4">
        <span><%= message %></span>
      </div>
    <% end %>
  </div>
<% end %>
