<header>
    <div class="navbar bg-neutral shadow-sm">
        <div class="flex-1">
            <a class="btn btn-neutral text-xl text-neutral-content shadow-none" href="/">
                <%= image_tag "logo.svg", class: "w-10 h-10" %>
                Donating.io
            </a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-lg menu-horizontal px-1 font-medium text-lg text-neutral-content">
                <li>
                    <a>Directory</a>
                </li>
                <li>
                    <a>Contribute</a>
                </li>
                <li>
                    <a>About</a>
                </li>
                <%= render authenticated? ? "layouts/authenticated_menu" : "layouts/public_menu" %>
            </ul>
        </div>
    </div>
</header>
